<mat-card>
    <mat-card-title>
        Apagar Produto
    </mat-card-title>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input disabled matInput placeholder="Nome" 
            [(ngModel)]="product.name" name="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Preço</mat-label>
            <input disable matInput placeholder="Preço (€)"
            [(ngModel)]="product.price" name="price" >
          </mat-form-field>
    </form>


<button mat-raised-button (click)="deleteProduct()" class="red">
    Apagar

</button>
<button mat-raised-button (click)="cancel()" >
    Cancelar

</button>
</mat-card>